*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:25px;
}

p{font-size: 16px;}



#container {
 
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 5px 5px 0px black;
  margin:0 auto;
}

#blog-img {
  max-width: 100%;
  border-radius: 13px;
}
#headshot-name {
  display: flex;
  gap: 20px;
}
#headshot-name p {
  font-weight: 900;
}
#learning {
  width: fit-content;
  padding: 5px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 900;
}
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* h2 is active */
h2:active {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

@media (max-width: 768px) {
  #container {
    max-width: 300px;
  }
}
